@media (max-width: 992px){
/*3918*/
.navbar-toggle {display: block;margin-right: 0;}
/*3923*/
.navbar-collapse.collapse {display: none !important;border: none;}
/*3928*/
.navbar-collapse.collapse, .navbar-collapse.collapsing {padding-left: 0;padding-right: 0;}
/*3934*/
.navbar-collapse.collapse.in {display: block !important;overflow-y: auto !important;}
/*3939*/
.navbar-header, .navbar-nav, .navbar-nav > li {float: none !important;}
/*3945*/
.navbar-default .navbar-nav {margin-right: 0;}
/*3952*/
.navbar-default .navbar-nav li > a > i {position: absolute;right: 15px;top: 9px;font-size: 18px;}
/*3958*/
.navbar-nav li.mega-menu ul.list-menu > li > a > i {position: relative;right: 0;top: 0px;font-size: 14px;}
/*3964*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active.open > a, .navbar-default .navbar-nav > .active.open > a:hover, .navbar-default .navbar-nav > .active.open > a:focus {background-color: #45a2d2;color: #fff;}
/*3970*/
.navbar-default .navbar-nav .open .dropdown-menu {-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;position: static;float: none;width: auto;margin-top: 0;border: none;}
/*3980*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a {padding: 5px 15px 5px 25px;color: #7b7b7b;}
.navbar-default .navbar-nav a {padding-top: 8px;padding-bottom: 8px;}
/*4021*/
.dropdown-menu .dropdown .dropdown-menu {display: block;padding-left: 12px;}
.navbar-nav .open .dropdown-menu > li > a:hover {color: #333;background-color: transparent;}
/*4025*/
.dropdown-menu .dropdown a > i {display: none;}
}
@media (max-width: 991px){
/*Navbar*/
.mega-menu-content .menu-heading {margin-top: 0;}
}
@media (max-width: 991px){
/*Footer*/
.support-footer .store-me {float: none;}
}
@media (min-width:993px){
/*Navbar*/
.navbar .dropdown:hover > .dropdown-menu {display: block;}
}
@media (max-width:768px){
.navbar-default .navbar-nav {margin-left: 0;}
/*4040*/
.navbar-default .navbar-nav .dropdown-menu .dropdown i {display: none;}
}
@media (max-width:767px){
.navbar-toggle {margin-right: 15px;}
}
@media (max-width:768px){
.mega-menu-content {min-width: auto;}
}