a,
a:active,
a:focus {
    outline: medium none
}
/*Navbar*/
/*3572*/
.navbar {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border-left: none;
    border-right: none;
}
/*3580*/
.navbar .container {
    position: relative;
}
/*3613*/
.navbar-toggle {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #45a2d2;
    padding: 5px 10px;
}
/*3621*/
.navbar-default {
    background-color: #fff;
    border-bottom: 2px solid #e7e7e7;
    border-top: none;
}
/*3626*/
.navbar-default .navbar-toggle {
    border: none;
}
/*3629*/
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #45a2d2;
}
/*3632*/
.navbar-default .navbar-toggle i {
    color: #fff;
    font-size: 21px;
    line-height: 25px;
}
/*3637*/
.navbar-default .dropdown-menu .active > a, .navbar-default .dropdown-menu .active a:hover, .navbar-default .dropdown-menu .active a:focus {
    background-color: #6A737E;
}
/*3640*/
.navbar-default .navbar-collapse {
    border: none;
}
/*3651*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #45a2d2;
}
/*3654*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #45a2d2;
    background-color: transparent;
}
/*3660*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #45a2d2;
    background-color: transparent;
}
/*3848*/
.label-main-nav {
    position: relative;
    top: -2px;
}
/*3857*/
.navbar-mega-menu .mega-menu .mega-menu-container {
    left: 0;
    right: 0;
}
/*3666*/
.navbar-default .navbar-nav .dropdown-toggle i{
    margin-left: 3px;
    color: #b8b8b8;
}
/*3805*/
.navbar-nav .dropdown-menu {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 99%;
    border: none;
    border-top: 2px solid #45a2d2;
}
/*3818*/
.navbar-nav .dropdown-menu > li > a {
    padding: 10px 20px;
    font-size: 13px;
}
/*3822*/
.navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus {
    background-color: #6A737E;
    color: #fff;
}
/*3826*/
.navbar-nav .dropdown-menu > li > a i {
    position: absolute;
    right: 11px;
    top: 11px;
}
/*3837*/
.navbar-nav .dropdown-menu .dropdown-menu {
    top: -12px;
    left: 100%;
    border: 1px solid #E8E8E8;
    border-left: 1px solid #45a2d2;
    min-width: 190px;
}
/*3854*/
.navbar-mega-menu .mega-menu {
    position: static;
}
/*3857*/
.navbar-mega-menu .mega-menu .mega-menu-container {
    left: 0;
    right: 0;
}
/*3862*/
.mega-menu-content {
    padding: 25px 20px;
}
/*3865*/
.mega-menu-content .menu-heading {
    margin: 20px 0 25px 0;
    padding: 0 10px;
    font-size: 18px;
}
/*3870*/
.mega-menu-content .list-menu {
    margin-bottom: 25px;
}
/*3873*/
.mega-menu-content .list-menu > li {
    cursor: text;
}
/*3876*/
.mega-menu-content .list-menu > li > a {
    display: block;
    color: #7b7b7b;
    font-size: 13px;
    padding: 7px 12px;
}
/*3882*/
.mega-menu-content .list-menu > li > a:hover, .mega-menu-content .list-menu > li > a:focus {
    color: #fff;
    background-color: #6A737E;
	text-decoration: none;
}
/*3886*/
.mega-menu-content .list-menu > li i {
    font-size: 14px;
    min-width: 20px;
}
/*3948*/
/*.navbar-default .navbar-nav a {padding-top: 15px;padding-bottom:15px;}*/
/*3984*/
.navbar-default .navbar-nav .open .dropdown-menu > li.active > a {color: inherit;background-color: #E7E7E7;}
/*Footer*/
footer {
    background-color: #f2f1f1
}
.main-footer {
    padding: 60px 0
}
.main-footer .title {
    font-size: 18px;
    color: #191919;
    text-transform: uppercase;
    line-height: 40px;
    position: relative;
    font-weight: 700;
    margin-bottom: 25px;
    display: inline-block
}
.main-footer .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 30px;
    background-color: #45a2d2
}
.main-footer .address-box .address-list .info,
.main-footer .link-list li a {
    font-size: 14px;
    color: rgba(25, 25, 25, .75);
    text-transform: capitalize;
    text-decoration: none;
    line-height: 32px;
    font-weight: 600
}
.main-footer .link-list li a:hover,
.support-footer .store-me li a:hover {
    color: #45a2d2
}
.main-footer .address-box .address-list .icon,
.main-footer .address-box .address-list .info {
    display: table-cell;
    vertical-align: top
}
.main-footer .address-box .address-list .icon {
    font-size: 16px;
    line-height: 32px;
    width: 20px;
    text-align: left;
    color: rgba(25, 25, 25, .75)
}
.social-list {
    padding: 0
}
.social-link .social-list>li,
.support-footer .store-me li {
    display: inline-block
}
.social-link .social-list>li a {
    font-size: 17px;
    color: #8e8d8d;
    margin-right: 35px
}
.social-link {
    border-top: 1px solid #cdcdcd;
    padding-top: 20px;
    margin-top: 15px
}
.support-footer .box-content {
    border-top: 1px solid #cdcdcd;
    text-align: center
}
.support-footer .newsletter,
.support-footer .store-me {
    margin: 20px 0;
    display: inline-block
}
.support-footer .store-me {
    float: right
}
.store-me .list-unstyled {
    margin: 0
}
.support-footer .store-me li a {
    font-size: 11px;
    color: #5f5f5f;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    font-weight: 700;
    padding: 0 10px
}
.footer .footer-bottom {
    background-color: #e1e1e1;
    padding: 16px 0
}
.footer-bottom .copyright p {
    line-height: 24px;
    color: #5f5f5f;
    font-weight: 700;
    margin: 0
}
.footer-bottom .copyright p a,
.footer-bottom .copyright p span {
    color: #45a2d2;
    text-decoration: none
}